/*
    Global
*/
body,
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C5CAE9;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/*
    main
*/
#main h1 {
    color: #303F9F;
    font-weight: bold;
    text-align: left;
}

/*
    Header style
*/
#header {
    background-color: #303F9F;
}

#header .container {
    display: flex;
    align-items: center;
}

/*
    Logo
*/
#header .logo {
    width: 30%;
    padding: 15px 0;
    color: #f3f3f3;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

#header .logo span {
    background-color: #c5cae9;
    border-radius: 50%;
    padding: 5px;
    font-weight: bold;
}

/*
    cart
*/
#header .cart {
    width: 70%;
    text-align: right;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header .cart a {
    color: #f3f3f3;
    text-decoration: none;
}

#header .cart span {
    background-color: #E91E63;
    border-radius: 50%;
    padding: 5px;
    font-weight: bold;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
    color: #fff;
}

/*
    featured products
*/
#featured-products {
    margin: 15px 0;
}

/*
    Products
*/
.products {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
    justify-content: space-between;
}

.products .product {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 25%;
    margin-bottom: 15px;
}

.products .product h2 {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #303f9f;
    font-weight: bold;
    margin-bottom: 15px;
}

.products .product p {
    text-align: center;
    font-weight: normal;
}

.products .product .price {
    color: #E91E63;
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
}

/*
    Footer
*/
#footer {
    text-align: center;
    font-size: 10px;
    border-top: 1px solid #ddd;
    padding: 15px 0;
}

/*
    Button
*/
.button {
    border-color: transparent;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.button-add {
    background-color: #303f9f;
}

.button-remove {
    background-color: #E91E63;;
}

@media screen and (max-width: 880px) {
    .container {
        width: 80%;
    }

    #main .container {
        flex-direction: row;
    }

    .products .product {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    .products .product {
        width: 100%;
        margin-right: 0;
    }
}